/* imported google fonts */
@font-face {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/firacode/v10/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sJVD7Ng.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/raleway/v18/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCIPrE.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/raleway/v19/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }



/* setup */

* {
    box-sizing: border-box;
  }

html, body {
    background-color: #36454f;
    font-family: 'Fira Code', Consolas, monospace;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    height: 100%;
    
}

p { 
    font-family: "Raleway", monospace;
    font-size: 16px;
    color: #0ff;
    letter-spacing: 0.1em;
    font-weight: 200;
    
}

/* container+layout */

.lcontainer {
    position: fixed;
    left: 50px;
    top: 50px;
    margin-left: 10px;
    padding-right: 40px;
    height: 30vh;
    width: 500px;
    overflow: wrap;
}

.container {
    position: fixed;
    right: 0;
    top: 50px;
    margin-left: 10px;
    padding-right: 40px;
    height: 30vh;
}

.rcontainer {
    position: fixed;
    right: 90px;
    bottom: 0;
    margin-left: 10px;
    padding-right: 40px;
    
}


 
/* nav elements */

.navbar {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style-type: none;  
}

.navitem {
    list-style: none;
    font-family: "Raleway", Courier, monospace;
    color: #0ff;
    font-size: 40px;
    position: relative;
    right: 50px;
    padding-left: 4px;
    line-height: 1.5em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.navitem:hover {
    color: #f0f;
    cursor: crosshair;
}
  
  
/* snow */
.storm {
	background-image: radial-gradient(50% 176%, black 80%,black 100%);
	// min-height: 100vh;
	height: 100%;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
    align-content: center;
}

.snow {
	position: absolute;
	min-width: 100vw;
	min-height: 100vh;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.snow .svg {
	position: absolute;
	width: 100%;
	height: 100%;
}

#snow-top-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 45s infinite linear;
}

@keyframes fall {
	
	100% {
		transform: translateY(0);
	}
	
}

/* glitch */


.box {
    position:relative;
}
.bet_time {
    position:absolute;
    bottom:0;
    right:0;
}

  .glitch {
	font-size: 8.125em;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
    position:absolute;
    bottom: 0;
    right: 5%;
	margin: 0;
	width: 600px;
	color: #fff;
	letter-spacing: 5px;
	
  }

  .glitch:before, .glitch:after {
	display: block;
	content: attr(data-glitch);
	text-transform: uppercase;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0.8;
	 
  }
  .glitch:after {
	color: #f0f;
	z-index: -2;
  }
  .glitch:before {
	color: #0ff;
	z-index: -1;
  }
  .glitch:hover:before {
	-webkit-animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 5;
			animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 5;
	  animation-iteration-count: infinite;
  }
  .glitch:hover:after {
	animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both 5;
	  animation-iteration-count: infinite;
  }
  
  @media only screen and (max-width: 400px) {
	.glitch {
	  font-size: 3em;
	}
  }
  @-webkit-keyframes glitch {
	0% {
	  transform: translate(0);
	}
	20% {
	  transform: translate(-5px, 5px);
	}
	40% {
	  transform: translate(-5px, -5px);
	}
	60% {
	  transform: translate(5px, 5px);
	}
	80% {
	  transform: translate(5px, -5px);
	}
	to {
	  transform: translate(0);
	}
  }
  @keyframes glitch {
	0% {
	  transform: translate(0);
	}
	20% {
	  transform: translate(-5px, 5px);
	}
	40% {
	  transform: translate(-5px, -5px);
	}
	60% {
	  transform: translate(5px, 5px);
	}
	80% {
	  transform: translate(5px, -5px);
	}
	to {
	  transform: translate(0);
	}
  }