p {
 font-family: helvetica;
 font-size: 50px;
 font-weight: strong;
 color: blue;
 
}

#tablefont { 
    font-family: courier;
    font-size: 20px;
    color: red;
}

h2 {
   
    font-family: Verdana;
    font-size: 30px;
    color: green;
}