p {
 font-family: helvetica;
 font-size: 50px;
 font-weight: strong;
 color: blue;
 
}

h2 {
   
    font-family: Verdana;
    font-size: 30px;
    color: green;
}
 
ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #595959;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  li {
    float: left;
    border-right: 1px solid black;
  }
  
  li a {
    display: block;
    color: ghostwhite;
    font-family: "Baloo 2";
    font-size: 16px;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-weight: bold;
    font-stretch: ultra-expanded;
    position: top;
    top: 0px;
    
  }
  
  li a:hover {
    background-color: #333;
    color: deepskyblue;
  }

  .soba a:hover {
    color: maroon !important;
  }  

  li:last-child {
    border-right: none;
  }

    th, td {
      padding: 0px;
      text-align: left;
      border: 1px solid black;
    }
  
  body {
    width: 100%;
    background-color: whitesmoke;
    
}
  
html {
  background-image: linear-gradient(to bottom right, red, yellow);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 600px;
}


    @font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/pacifico/v17/FwZY7-Qmy14u9lezJ-6H6Mk.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    @font-face {
      font-family: 'Baloo 2';
      font-style: normal;
      font-weight: 600;
      src: url(https://fonts.gstatic.com/s/baloo2/v1/wXKuE3kTposypRyd74f4FeMKmA.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
}
