p {
 font-family: helvetica;
 font-size: 50px;
 font-weight: strong;
 color: blue;
 
}

#tablefont { 
    font-family: courier;
    font-size: 20px;
    color: red;
}

h2 {
   
    font-family: Verdana;
    font-size: 30px;
    color: green;
}

ul {
    list-style-type: none;
    font-family: Georgia;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: SeaGreen;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }