body {
	background-color: #232323;
	overflow: hidden;
  }

  .box {
    position:relative;
}
.bet_time {
    position:absolute;
    bottom:0;
    right:0;
}
h1 { 
	font-size: 2.0em;
	font-family: "Raleway", sans-serif;
	font-weight: 200;
	text-decoration: none;
	text-transform: lowercase;
	position: relative;
	margin: auto;
	color: #fff;
	letter-spacing: 4px;

}  

 .pink {
	 color:#f0f;
 }
  
 .teal {
	color:#0ff;
}
  
  .glitch {
	font-size: 8.125em;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
    position:absolute;
    bottom: 0;
    right: 10px;
	margin: 0;
	width: 600px;
	color: #fff;
	letter-spacing: 5px;
	
  }

  .glitch:before, .glitch:after {
	display: block;
	content: attr(data-glitch);
	text-transform: uppercase;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0.8;
	
  }
  .glitch:after {
	color: #f0f;
	z-index: -2;
  }
  .glitch:before {
	color: #0ff;
	z-index: -1;
  }
  .glitch:hover:before {
	-webkit-animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 5;
			animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 5;
			animation-iteration-count: infinite;
  }
  .glitch:hover:after {
	animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both 5;
	animation-iteration-count: infinite;
  }
  
  @media only screen and (max-width: 400px) {
	.glitch {
	  font-size: 3em;
	}
  }
  @-webkit-keyframes glitch {
	0% {
	  transform: translate(0);
	}
	20% {
	  transform: translate(-5px, 5px);
	}
	40% {
	  transform: translate(-5px, -5px);
	}
	60% {
	  transform: translate(5px, 5px);
	}
	80% {
	  transform: translate(5px, -5px);
	}
	to {
	  transform: translate(0);
	}
  }
  @keyframes glitch {
	0% {
	  transform: translate(0);
	}
	20% {
	  transform: translate(-5px, 5px);
	}
	40% {
	  transform: translate(-5px, -5px);
	}
	60% {
	  transform: translate(5px, 5px);
	}
	80% {
	  transform: translate(5px, -5px);
	}
	to {
	  transform: translate(0);
	}
  }

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/raleway/v18/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCIPrE.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }